

a {
    color: grey;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}
img{
    max-width: 100%;
    height:auto;
}

.site-header{
    background-color: #ffeaaa;
}

.heading-group-h1, main, footer {
    padding: 5px;
}

ul{
    padding: 0px;
}

li{
    list-style-type: none;
}